{% extends '../../../../../views/layout.twig' %}

{% import '../../../../../views/blocks/grid/index.twig' as grid %}
{% import '../../../../../views/blocks/linkToJson/index.twig' as linkToJson %}
{% import '../../../../Posts/views/blocks/post/index.twig' as post %}
{% import '../../blocks/avatar/index.twig' as avatar %}
{% import '../../blocks/user/index.twig' as user %}

{% block title %}{{ data.user.name|escape('html') }} | User{% endblock %}

{% block content %}
    {{ avatar.render({
        name: data.user.name,
        path: data.user.avatar,
    }) }}
    {{ user.render(data.user) }}

    {% if data.posts %}
        {{ grid.start({ cols: 3 }) }}
            {% for postParams in data.posts %}
                {{ post.render(postParams, {
                    withAuthor: false,
                }) }}
            {% endfor %}
        {{ grid.end() }}
    {% else %}
        <p>No posts yet.</p>
    {% endif %}
{% endblock %}
