{##
 # @param {object} params
 # @param {string} params.id
 # @param {string} params.name
 # @param {number} [params.age]
 # @param {string} [params.avatar]
 # @param {string} [params.location]
 # @param {object} [options={}]
 # @param {boolean} [options.withLink=false]
 #}
{% macro render(params, options) -%}
    {% import '../avatar/index.twig' as avatar %}

    {% set id = params.id %}
    {% set name = params.name %}

    {% set age = params.age|default(null) %}
    {% set avatarPath = params.avatar|default('') %}
    {% set location = params.location|default('') %}

    {% set options = options|default({}) %}
    {% set SIZES = ['xs', 's', 'l'] %}
    {% set size = (options.size in SIZES) ? options.size : 'l' %}
    {% set withLink = options.withLink|default(false) %}

    {% set title %}
        {{- name -}}
        {% if age and (size != 'xs') %}, {{ age }} years old{% endif -%}
    {% endset %}

    <section class="user user_size_{{ size }}" data-id="user-{{ id }}">
        <div class="user__avatar">
            {{ avatar.render({
                name: name,
                path: avatarPath,
            }, {
                size: size,
            }) }}
        </div>

        <div class="user__info">
            <h3 class="user__title">
                {%- if withLink %}
                    <a href="{{ path('user', { params: { id: id } }) }}">
                        {{- title -}}
                    </a>
                {% else %}
                    {{- title -}}
                {% endif -%}
            </h3>

            {% if location and (size != 'xs') %}
                <p>Location: {{ location }}</p>
            {% endif %}
        </div>
    </section>
{%- endmacro %}
