{% macro render(params, options) %}
    {% import '../../../../Users/views/blocks/user/index.twig' as user %}
    {% import '../comments-counter/index.twig' as commentsCounter %}

    {% set author = params.author %}
    {% set comments = params.comments %}
    {% set datetime = params.datetime %}
    {% set id = params.id %}
    {% set title = params.title %}

    {% set options = options|default({}) %}
    {% set withAuthor = options.withAuthor|default(true) %}

    <section class="post" data-id="post-{{ id }}">
        <div class="post__content">
            <h3 class="post__title">
                <a class="post__link" href="{{ path('post', { params: { id: id } }) }}">
                    {{- title|nl2br -}}
                </a>
            </h3>

            <time class="post__datetime" datetime="{{ datetime }}">
                {{- date(datetime)|date('D, j M Y G:i') -}}
            </time>
        </div>

        <footer class="post__footer">
            {% if withAuthor %}
                <div class="post__author">
                    {{ user.render(author, {
                        size: 'xs',
                        withLink: true,
                    }) }}
                </div>
            {% endif %}

            <div class="post__views">
            </div>

            <div class="post__comments">
                {{ commentsCounter.render({
                    value: comments,
                }) }}
            </div>
        </footer>
    </section>
{% endmacro %}
